<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login Empresas</title>
</head>

<body>
    <main class="mainLogin">
        <section class="loginSectionEmpresas">
            <img src="/static/backstage/logo.png" alt="" width="250">
            <div class="containerInputsLoginEmpresa">
                <label for="inputNombreLogin">Correo:</label>
                <input type="text" id="inputNombreLoginEmpresa" placeholder="Correo de la empresa">
                <label for="inputContraseñaLogin">Contraseña:</label>
                <input type="password" id="inputContraseñaLoginEmpresa" placeholder="Contraseña">
            </div>
            <button id="btnIniciarSesionEmpresa">Ingresar</button>
        </section>
    </main>
</body>

</html>