<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/js/perfilUsuarios.js"></script>
</head>

<body>
    <main class="mainPerfil">
        <button id="ajustesUsuarioBtn">
            <img src="/static/backstage/ajustes.svg" alt="" width="40px">
        </button>

        <div id="ajustesMenu" class="menu-desplegable">
            <a href="{{url_for('editarPerfilUsuario')}}">Editar perfil</a>
            <a href="/ver-mas">Ver más</a>
        </div>

        <a href="#" id="logoutButtonJovenes">
            <img src="/static/backstage/log_out.svg" alt="log_out" width="40px">
        </a>
        
        <div class="overlay" id="overlay">
            <div class="modal">
                <p>¿Estás seguro que deseas cerrar sesión?</p>
                <form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
                    <button type="submit" id="confirmLogout">Sí</button>
                </form>
                <button id="cancelLogout">No</button>
            </div>
        </div>
        <section class="edicionDePerfil">
            <button id="perfilFoto">
                <img src="/static/backstage/user2.svg" alt="" width="150px">
            </button>
            <h2>{{usuario.nombre}} {{usuario.primer_apellido}}</h2>
        </section>
        <div class="containerBtnUsuarioOpciones">
            <button id="btnCurriculum">Curriculum</button>
            <button id="btnContacto">Contacto</button>
        </div>
        <section>
            <h2>Empresas de tu interes</h2>
            <hr>
            <div class="empresasCarousel">
                <img src="/static/backstage/empresa1.jpg" alt="" width="75px">
                <img src="/static/backstage/empresa2.jpg" alt="" width="75px">
                <img src="/static/backstage/empresa3.png" alt="" width="75px">
            </div>
        </section>
        <div class="premiumContainerUsuarios">
            <button id="btnCuentaPremium">Cuenta Premium 👑</button>
            <h3>¿Necesitas Ayuda?</h3>
        </div>
        <hr>
        <nav class="navegadorUsuarios">
            <button class="navUsuarioBtn" id="btnUsuarioSearch">
                <img src="/static/backstage/search.svg" alt="" width="30px">
            </button>
            <button class="navUsuarioBtn" id="navigatorUser">
                <img src="/static/backstage/logomini.png" alt="" height="40px">
            </button>
            <button class="navUsuarioBtn" id="btnUsuarioPerfil">
                <img src="/static/backstage/user1.svg" alt="" width="45px">
            </button>
        </nav>
    </main>
</body>

</html>