<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y Condiciones</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="headerTerminosCondiciones">
        <img src="/static/backstage/logo.png" alt="" width="200px">
    </header>
    <main class="mainTerminosCondiciones" id="mainTerminosCondiciones">
        <article class="informacionTerminosUsuarios">
            <h2 id="terminosCondicionesTitulo">Trabajo Joven</h2>
            <ul>
                <li>Una cosa que lleva un monton de otras cosas</li>
                <li>Una cosa</li>
                <li>Una cosa pero aca tambien hay muchas otras cosas que locura</li>
                <li>Una cosa</li>
            </ul>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, inventore voluptatem dignissimos, saepe
                dolore neque culpa consectetur nesciunt deserunt consequuntur obcaecati quaerat accusantium possimus
                commodi
                atque similique provident dolores ab.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quaerat alias expedita iste
                praesentium. Hic repellat nesciunt quasi sequi quae reprehenderit pariatur nisi ullam ducimus nemo. Qui,
                nulla! Vitae, quas!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad totam beatae, ipsam commodi eius cum eaque
                doloremque praesentium nobis non, quae soluta perferendis optio in quasi, ducimus corrupti?
                Reprehenderit, quo.</p>
        </article>
    </main>
    <form action="{{ url_for('procesar_terminos_condiciones') }}" method="POST"
        class="contenedorBtnTerminosCondicionesUsuario">
        <button class="btnTerminosCondicionesUsuario" id="btnAceptoUsuario" type="submit" name="acepto"
            value="true">Acepto</button>
        <button class="btnTerminosCondicionesUsuario" id="btnNoAceptoUsuario" type="submit" name="acepto"
            value="false">No Acepto</button>
    </form>
    <hr>
    <div id="miniFinder">
        <a href="">
            <img src="/static/backstage/logomini.png" alt="" width="100px">
        </a>
    </div>
</body>

</html>