<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>

<body>
    <main class="mainLogin">
        <section class="loginSectionUsuarios">
            <img src="/static/backstage/logo.png" alt="" width="250">
            <div class="containerInputsLoginUsuario">
                <label for="inputNombreLogin">Nombre:</label>
                <input type="text" id="inputNombreLogin" placeholder="Nombre">
                <label for="inputContraseñaLogin">T.I:</label>
                <input type="password" id="inputContraseñaLogin" placeholder="Tarjeta de identidad">
            </div>
            <button id="btnIniciarSesion">Ingresar</button>
        </section>
    </main>
</body>

</html>