@font-face {
  font-family: "baloo";
  src: url(/static/backstage/balooFont.ttf);
}

.loginMain {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

#logoInicio {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.mainSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  height: 80%;
  justify-content: space-around;
}

.btnContainers {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: baloo;
  text-align: center;
}
.btnContainers a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.btnsLogin {
  width: 110px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

#registerEmpresaBtn {
  background-color: rgb(78, 184, 118);
}

#registerUsuarioBtn {
  background-color: rgba(255, 102, 0, 0.767);
}

#registerUsuarioBtn:hover {
  background-color: rgb(255, 123, 0);
}

#loginUsuarioBtn {
  background-color: rgb(78, 184, 118);
}
#loginEmpresaBtn {
  background-color: rgba(255, 102, 0, 0.767);
}
#loginUsuarioBtn:hover {
  background-color: rgba(37, 133, 74, 0.774);
}
#loginEmpresaBtn:hover {
  background-color: rgb(255, 123, 0);
}

.bodyLoginRegister {
  margin: 0;
}

.headerUsuariosLogin {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(1, 145, 131, 0.158);
  gap: 130px;
  align-items: center;
}
.formUsuarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  width: 90%;
}

.mainUsuariosRegister {
  display: flex;
  width: 100%;
  justify-content: center;
}
.formularioUsuarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  font-family: baloo;
  color: #000000d2;
}
#genero,
#parentesco {
  width: 42.5%;
}
.formularioUsuarios input,
.formularioUsuarios select {
  width: 40%;
  font-family: baloo;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
}
.datosDeUsuario,
.datosTitular {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.datosDeUsuario div,
.datosTitular div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

hr {
  border: 0, 5px solid #000;
  width: 90%;
  margin: 20px 0;
}

.btnEnviarUsuarioLogin {
  margin-top: 50px;
  margin-bottom: 40px;
  width: 100px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  background-color: rgba(240, 99, 5, 0.767);
  color: white;
  font-family: baloo;
  font-size: 20px;
}
.headerTerminosCondiciones {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.mainTerminosCondiciones {
  display: flex;
  margin: auto;
  height: 50vh;
  width: 70%;
  font-family: baloo;
}
.mainTerminosCondiciones p {
  text-align: center;
  padding: 0px 20px;
  color: #333;
}
#terminosCondicionesTitulo {
  text-align: center;
  color: rgba(217, 101, 6, 0.899);
}
.informacionTerminosUsuarios {
  overflow: auto;
  border: 3px solid rgba(78, 184, 133, 0.272);

  border-radius: 20px;
}
.informacionTerminosUsuarios ul {
  width: 80%;
  margin: auto;
}
.contenedorBtnTerminosCondicionesUsuario {
  margin: auto;
  display: flex;
  width: 70%;
  height: 45px;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 35px;
}

.btnTerminosCondicionesUsuario a {
  text-decoration: none;
  color: black;
}

.btnTerminosCondicionesUsuario {
  width: 100px;
  background-color: transparent;
  border: none;
  font-family: baloo;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  background-color: rgba(78, 184, 133, 0.845);
}

#btnNoAceptoUsuario {
  background-color: rgba(255, 0, 0, 0.758);
}

#miniFinder {
  display: flex;
  justify-content: center;
}

.mainPerfil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: baloo;
}
.edicionDePerfil {
  text-align: center;
}
#perfilFoto {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.seccionEdicionUsuario {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
.contenedorEdicionPerfilUsuario {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-around;
  margin: auto;
}

.marcoFotoPerfil {
  width: 160px;
  height: 160px;
  border: 5px solid orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
}

#fotoPerfil {
  width: 100%;
  height: auto;
}

.containerBtnUsuarioOpciones {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
}

#btnCambiarContraseña {
  background-color: rgb(233, 109, 21);
  border: none;
  width: 140px;
  height: 70px;
  border-radius: 15px;
  color: white;
  font-family: baloo;
  font-size: 20px;
}

#btnCambiarFoto {
  background-color: rgb(25, 200, 154);
  border: none;
  width: 140px;
  height: 70px;
  border-radius: 15px;
  color: white;
  font-family: baloo;
  font-size: 20px;
}

#btnCurriculum {
  background-color: rgb(233, 109, 21);
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 15px;
  color: white;
  font-family: baloo;
  font-size: 20px;
}
#btnContacto {
  background-color: rgb(25, 200, 154);
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 15px;
  color: white;
  font-family: baloo;
  font-size: 20px;
}

.empresasCarousel {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.premiumContainerUsuarios {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  margin-top: 20px;
}
#btnCuentaPremium {
  width: 300px;
  background-color: rgb(233, 109, 21);
  color: white;
  border: none;
  border-radius: 15px;
  height: 50px;
  font-family: baloo;
  font-size: 20px;
}

.navegadorUsuarios {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

#btnUsuarioSearch {
  background-color: rgb(25, 200, 154);
  width: 50px;
  border-radius: 50px;
  margin-right: 15px;
  border: none;
}

#navigatorUser {
  background-color: transparent;
  border: none;
}

#btnUsuarioPerfil {
  background-color: transparent;
  border: none;
}

#ajustesUsuarioBtn {
  background-color: transparent;
  border: none;
  position: relative;
  left: 150px;
  top: 20px;
  cursor: pointer;
}
.menu-desplegable {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  min-width: 150px;
  z-index: 1000;
  top: 65px;
  right: 0;
}

.menu-desplegable a {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.menu-desplegable a:last-child {
  border-bottom: none;
}

.menu-desplegable a:hover {
  background-color: #f0f0f0;
}
#logoutButtonJovenes {
  position: relative;
  right: 150px;
  top: -25px;
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.modal button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

#confirmLogout {
  background-color: green;
}
#cancelLogout {
  background-color: red;
}

.loginSectionUsuarios,
.loginSectionEmpresas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.containerInputsLoginUsuario,
.containerInputsLoginEmpresa {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-family: baloo;
}
.containerInputsLoginUsuario input,
.containerInputsLoginEmpresa input {
  width: 100%;
  font-family: baloo;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
}

#btnIniciarSesion,
#btnIniciarSesionEmpresa {
  width: 100px;
  background-color: rgb(233, 109, 21);
  color: white;
  border: none;
  border-radius: 15px;
  height: 50px;
  font-family: baloo;
  font-size: 20px;
}
